h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    font-weight: bold;
    margin-bottom: 2.22rem;
}

h1 {
    font-size: 2.63rem;
}

h2 {
    font-size: 1.77rem;
}

a {
    color: $black1;
}
