// Fonts
$font-family-base:  'Open Sans', Arial, Helvetica, sans-serif;
$font-family-heading:  'Lato', Arial, Helvetica, sans-serif;
$font-size-base: 18px;

// Colors
$black1: #000000;
$black2: #070707;
$grey1: #828282;
$grey2: #F6F6F6;
$white: #ffffff;

// Media
$breakpoints: (
    "md": 768px
);
